body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#one {
    border:groove 5px #000000;
    background-color:#D3D3D3;
    width:30%;
    height:200px;
    padding:5px;
    margin:5px;

}
#two {
    border:groove 5px #000000;
    background-color:#D3D3D3;
    width:30%;
    height:200px;
    padding:5px;
    margin:5px;

}
#three {
    border:groove 5px #000000;
    background-color:#D3D3D3;
    width:30%;
    height:200px;
    padding:5px;
    margin:5px;
}
h1{
  text-align:center;
}
