body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#one {
    border:groove 5px #000000;
    background:#D3D3D3;
    width:50%;
    height:200px;
    padding:5px;
    margin:5px;

}
#two {
    border:groove 5px #000000;
    background:#D3D3D3;
    width:50%;
    height:200px;
    padding:5px;
    margin:5px;

}
#three {
    border:groove 5px #000000;
    background:#D3D3D3;
    width:50%;
    height:200px;
    padding:5px;
    margin:5px;
}
h1{
  border:groove 5px #000000;
  background:#D3D3D3;
  text-align:center;
}
